Repository owncloud/announcementcenter, pull requests merged in 2019-11, with the labels that each got.

#136 use absolute server url in notification creation
  lib/BackgroundJob.php
Labels: 3 - To Review

#137 Implement current drone starlark code
  .drone.starlark
Labels: 3 - To Review, Drone, QA-team

#138 Drop PHP 7.0 from drone CI
  .drone.starlark
  .drone.yml
Labels: 3 - To Review, Drone, QA-team

#139 Change phpunit strict to beStrictAboutOutputDuringTests
  phpunit.xml
Labels: 3 - To Review, QA-team
